DB_HOST=localhost
DB_PORT=5433
DB_USER=my_user
DB_PASSWORD=my_password
DB_NAME=my_db
# Format: postgres://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>
DATABASE_URL=postgres://my_user:my_password@localhost:5433/my_db

# Email verification
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sweeper.io25@gmail.com
SMTP_PASS=lhty cwez imau weoi
APP_URL=http://localhost:5173

# Verification tokens
VERIFY_SECRET=015437dea77be073938f4fd1be000ce0
JWT_SECRET=c250bc274b8a064c7987c94db2ecdada