DB_HOST=localhost
DB_PORT=5433
DB_USER=my_user
DB_PASSWORD=my_password
DB_NAME=my_database
# Format: postgres://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>
DATABASE_URL=postgres://USERNAME:PAS

# Email verification
SMTP_HOST=myhost.gmail.com
SMTP_PORT=my_port
SMTP_USER=myuser.gmail.com
SMTP_PASS=my_pass
APP_URL=my_app_url

# Verification tokens
VERIFY_SECRET=my_verify_secret
JWT_SECRET=my_jwt_secret