.minesweeper-board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.minesweeper-board {
    display: grid;
    gap: 0px;
    justify-self: center;
    vertical-align: auto;
    height: 50vh;
    aspect-ratio: 1;
}

.minesweeper-tile {
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: bisque;
    border: 1px solid black;
}

.minesweeper-tile.revealed {
    background-color: beige;
    cursor: default;
}